// General layout styling for the page

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color:black;
    background-image: url(../assets/starry-sky2.gif);
    background-repeat: repeat;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    width: 30%;
    border-radius: 10px;
    text-align: center;
}

.logo {
    width: 150px;
    margin-top: 20px;
    border-radius: 50%;
    img{
        width:100%;
    }
}

button {
    cursor: pointer;
}

.logo,
button {
    box-shadow: 5px 0px 50px 5px rgba(255, 255, 255, .0);
    transition: all 0.3s ease-in-out;
    &:hover,
    &:focus {
        box-shadow: 5px 0px 50px 5px rgba(255, 255, 255, .8);
    }
}
.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 100px;
    width: 40%;
}

.display-picture {
    width: 100%;
}

.fit-content {
    width: 100%;
}

.flex-nav {
    display:flex;
}

.learn-more-text {
    padding-bottom: 50px;
    margin: 0 auto;
}

.read-more {
    width: 50%;
    margin: 60px 0 60px 80px;
}