// Media queries for the app

// Breakpoint for 1150px (large screens)
@media (max-width: 1150px) {
     h1 {
          margin-left: 200px;
     }
     .new-pic {    
          width: 50%;
     }
     .logo {
          margin: 20px;
     }
     div.flex-box {
          height: 65vh;
     }
     .display-picture {
          margin-left: -100px;
     }
}

// Breakpoint for 900px (Laptops)
@media (max-width: 900px) {
     h1 {
          margin-right: 40px;
     }
     div.flex-box {
          height: 50vh;
     }
     div.flex {
          width: 55%;
     }
     .learn-more-text {
          margin-top: 200px;
     }
     div.flex-box {
          flex-direction: column-reverse;
          flex-wrap: nowrap;
     }
}

// Breakpoint for 768px (Tablets)
@media (max-width: 768px) {
     
     .flex {
          width: 70%;
          margin: 100px auto 40px;
          &.click {
               margin: 0;
          }
     }
     .display-picture {
          margin-left: 0;
     }
     .fit-content {
          margin-top: 200px;
     }
     
}

// Breakpoint for 580px (Mobile - large)
@media (max-width: 580px) {
     div.flex-box {
          height: 50vh;
     }
     h1 {
          margin-left: 40px;
     }
       h2.animate-typing {
          margin-top: 200px;
     }   
}

// Breakpoint for 420px (Mobile)
@media (max-width: 420px){
     .flex {
          width: 85%;
     }      
    
}