@media (max-width: 1300px) {
     .logo {
          width: 18%;
     }
}


@media (max-width: 1150px) {
     h1 {
          margin-left: 200px;
     }
     .new-pic {    
          width: 50%;
     }
     .logo {
          margin: 20px;
     }
     div.flex-box {
          height: 65vh;
     }
     .display-picture {
          margin-left: -100px;
     }
}

@media (max-width: 900px) {
     h1 {
          margin-right: 40px;
     }
}

@media (max-width: 768px) {
     div.flex-box {
          flex-direction: column-reverse;
     }
}