@import "setup";
@import "typography";
@import "media-query";

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color:black;
    background-image: url(../assets/starry-sky2.gif);
    background-repeat: repeat;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    width: 30%;
    border-radius: 10px;
}

.logo {
    width: 150px;
    margin-top: 20px;
    img{
        width:100%;
    }
    
}

button {
    padding:10px 20px;
    font-size:20px;
    color:black;
    margin: 20px 0;
    text-align: center;
}

.side {
    width: 40%;
}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center {
    margin: 20px auto;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 100px;
}

.display-picture {
    width: 100%;
}

.fit-content {
    width: 100%;
}

.flex-nav {
    display:flex;
}

.learn-more-text {
    padding-bottom: 50px;
    margin: 0 auto;
}

.read-more {
    width: 50%;
    margin: 60px 0 60px 80px;
}